<h1>Users Registers</h1>
<div class="clear"></div>
<table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone</th>        
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.address}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.email}}</td>
        <td><img src="../../assets/edit.png" class="editIcon" (click)="edit(item)"> /
        <img src="../../assets/delete.png" class="editIcon" (click)="delete(item)"></td>
      </tr>     
    </tbody>
  </table>
